.pay_now {
    margin-top: 20px;
}
#privat-steps{max-width:937px;margin:35px auto 0}#privat-steps .step{float:left;width:22.9%;max-width:215px}#privat-steps .privat-arrow{float:left;margin:8% 2% 0;background-image:url(../images/privat/arrow.png);width:9.1%;height:61px;-moz-background-size:contain;-o-background-size:contain;-webkit-background-size:contain;background-size:contain;background-repeat:no-repeat}#privat-steps img{display:block}#privat-steps .title{font-size:20px;color:#b38389;margin-top:15px}#privat-steps .text{font-size:18px;color:#1d1310}@media only screen and (max-width: 481px){#privat-steps .privat-arrow{display:none}#privat-steps .step{width:90%;float:none;margin:0 auto 30px}}
.step-button .title{
    margin-top: 63px !important;
}
.button-img img{
    margin-top: 90px;
    max-height: 39px;

}
.step-button:last-of-type{
    margin-left:45px;
}