$arial: 'arial', Arial, sans-serif;
$sans: 'Open Sans', sans-serif;
$RobotoLight: 'RobotoLight', Arial, Helvetica, sans-serif;
$RobotoBold: 'RobotoBold', Arial, Helvetica, sans-serif;


//fonts

$headerColor:#3c5364;
$sectionTitle:#9cacb6;


