/* Variables
-------------------------------------------------------------------------------------*/
$main-color: #ffc2c4;
$red-color: #dc4b4b;
$gray-color: #efeff1;

$main-text: #252525;
$blue-text: #435669;
$gray-text: #969696;

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}


@keyframes rotate{
  0% {transform: rotate(0deg)}
  100% {transform: rotate(360deg)}
}